# created by virtualenv automatically
# Ignorar entornos virtuales
bin/
lib/
__pycache__/

# Ignorar archivos específicos de Python
*.pyc
*.pyo

# Ignorar configuraciones de IDEs
.vscode/
.idea/

# Otros archivos que no quieras subir
*.log
